@font-face { font-family: CaviarDreams; src: url('../font/CaviarDreams.ttf'); }
:root{
  --white: #f5f5f5;
  --lightgray: #6c6c6c;
  --darkgray: #333333;
  --orange: #ffa500;
  --shadow: #aaa;
}
html,input{
  font-family: CaviarDreams;
}
* {
  transition-duration: 1s;
}
body{
  padding: 0;
  margin: 0;
}
.inner{
  width: 80%;
  margin: auto;
}
a{
  text-decoration: none;
}
.totalhight{
  margin-bottom: 50px;
}
table{
  border-collapse: collapse;
}
button{
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}
p{
  margin: 0;
}
.overflowscroll{
  overflow-x: scroll;
}
.overflowscroll::-webkit-scrollbar {
display: none;
}
.flip{
  transform: rotate(-180deg);
}
.Ypadding{
  padding: 10px 0;
}
