#topheader{
  display: inline-block;
  margin: 1em 0;
  background: black;
  padding: 0.25em;
}
#mainheader,#topheader{
  width: 100%;
}
#topheader, #topheader a{
  color: white;
}
#topul, #topulcon{
  list-style-type: none;
  display: -webkit-box;
}
#topul{
  float: left;
}
#topulcon{
  float: right;
}
.topli{
  margin: 0px 0.5em;
}
.topfontA{
  color: #319400;
  margin-right: 0.25em;
}
#logo{
  margin: 0 auto;
  text-align: center;
}
#mainheader{
  box-sizing: border-box;
  padding: 1em 0;
}
#lowerheader{
  padding: 1em;
}
