#topheader, nav{
  display: inline-block;
  margin: 1em 0;
  padding: 0.25em;
}
#topheader{
  background: #222222;
}
#mainheader,#topheader, #searchInput, nav{
  width: 100%;
}
#topheader, #topheader a{
  color: white;
}
#topul, #topulcon, .navul{
  list-style-type: none;
  display: -webkit-box;
}
#topul{
  float: left;
}
#topulcon{
  float: right;
}
.topli{
  margin: 0px 0.5em;
}
.topfontA{
  color: #319400;
  margin-right: 0.25em;
}
#logo{
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}
#lowerheader{
  padding: 1em;
}
#search form{
  position: relative;
}
#searchInput,.navul li{
  text-align: center;
  font-size: 1em;
  padding: 1em;
  border-radius: 2.5em;
  box-shadow: 0px 0px 10px 1px #eaeaea;
  border: 1px solid #cacaca;
}
.navul li{
  padding: 0.75em;
  border-radius: 1em;
}
#searchButton{
  font-size: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  padding: 0px 0.5em;
}
#searchButton i,#listico{
  margin-right: 0.25em;
}
#searchInput, #mainheader, #topheader{
  box-sizing: border-box;
}
.navul li a{
  color: #222222;
}
header{
  border-bottom: solid 2px #222222;
}
#menu{
  position: relative;
}
#menulist{
  position: absolute;
  top: 100%;
  left: 0;
}
nav{
  padding: 0.25em 0px !important;
}
header, #colorhead{
  background: #fdfdfd;
}
.fixedPos{
  position: fixed;
  left: 0;
  right: 0;
}
#fixposDiv{
  z-index: 1;
}
#fixposDiv, #topheader{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
