#topheader, #headnav{
  display: inline-block;
  margin: 1em 0;
  padding: 0.25em;
}
#topheader{
  background: #222222;
  position: relative;
}
#removeTop{
  display: none;
  position: absolute;
  top: 1em;
  left: 1em;
}
#showTop{
  display: none;
  text-align: center;
  padding: 1em 0px;
}
#mainheader,#topheader, #searchInput, #headnav{
  width: 100%;
}
#topheader, #topheader a{
  color: white;
}
#topul, #topulcon, .navul{
  list-style-type: none;
  display: -webkit-box;
}
#topul{
  float: left;
}
#topulcon{
  float: right;
}
.topli{
  margin: 0px 0.5em;
}
.topfontA{
  color: #319400;
  margin-right: 0.25em;
}
#logo{
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}
#lowerheader{
  padding: 1em;
}
#search form{
  position: relative;
}
#searchInput,.navul li{
  text-align: center;
  font-size: 1em;
  padding: 1em;
  border-radius: 2.5em;
  box-shadow: 0px 0px 10px 1px #eaeaea;
  border: 1px solid #cacaca;
}
.navul li{
  padding: 0.75em;
  border-radius: 1em;
}
#searchButton{
  font-size: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  padding: 0px 0.5em;
}
#searchButton i,#listico{
  margin-right: 0.25em;
}
#searchInput, #mainheader, #topheader{
  box-sizing: border-box;
}
.navul li a{
  color: #222222;
}
header{
  border-bottom: solid 2px #222222;
}
#menu{
  position: relative;
}
#headnav{
  padding: 0.25em 0px !important;
}
header, #colorhead{
  background: #fdfdfd;
}
.fixedPos{
  position: fixed;
  left: 0;
  right: 0;
}
#fixposDiv{
  z-index: 1;
}
.navul i{
  margin-right: 0.25em;
}
@media only screen and (max-width: 1000px) {
  #fixposDiv {
    width: 100%;
  }
  .inner{
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  #topheader li{
    margin: auto;
  }
  #topul, #topulcon{
    text-align: center;
    display: block;
    float: none;
  }
  .inner{
    width: 100%;
  }
  #removeTop{
    display: block;
  }
}
@media only screen and (max-width: 630px) {
  .navul{
    display: block;
  }
  #headnav ul{
    float: none;
  }
  #headnav .spacer{
    margin: 0;
  }
  .navul li{
    border-radius: 0;
  }
}
@media only screen and (max-width: 400px) {
  #topheader ul{
    display: block;
  }
  #topheader li{
    text-align: center;
    padding: 0.25em 0em;
  }
}
