/*fonts*/
@font-face { font-family: CaviarDreams; src: url('../font/CaviarDreams.ttf'); }

/*restoring*/
html,input{
  font-family: CaviarDreams;
}
body{
  padding: 0;
  margin: 0;
  position: relative;
}

a{
  text-decoration: none;
}
table{
  border-collapse: collapse;
}
button{
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}
p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
textarea, select, input, button {
  outline: none;
}
button:hover{
  cursor: pointer;
}

/*classes*/
.inner{
  margin: auto;
  width: 70%;
}
.right{
  float: right;
}
.left{
  float: left;
}
.spacer{
  margin: 0px 1em;
}
