/*fonts*/
@font-face { font-family: CaviarDreams; src: url('../font/CaviarDreams.ttf'); }

/*restoring*/
html,input{
  font-family: CaviarDreams;
}
body{
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}
table{
  border-collapse: collapse;
}
button{
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}
p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
textarea, select, input, button {
  outline: none;
}
button:hover{
  cursor: pointer;
}
*:focus {
    outline: none;
}
h3{
  margin: 0;
}

/*classes*/
.inner{
  margin: auto;
  width: 70%;
}
.right{
  float: right;
}
.left{
  float: left;
}
.spacer{
  margin: 0px 1em;
}
.rotate{
  transform: rotate(180deg);
}
main{
  margin: 1em 0;
}
.addtocart:hover{
  cursor: pointer;
}
#fixposDiv, #topheader, .dropButton, .controllB{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#lennart{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
main, body{
  background: white;
}
.animateToCart{
  position: absolute;
}
