.accountRow{
  display: none;
}
.accountRow td{
  padding: 5px;
}
#accountab tr:nth-child(even){
  background-color: var(--orange);
}
#accountab tr:nth-child(even) td, #accountab tr:nth-child(even) a{
  color: black;
}
#accountab tr:nth-child(odd){
  background-color: var(--lightgray);
}
#accountab tr:nth-child(odd) td, #accountab tr:nth-child(odd) a{
  color: var(--white);
}
#accounthead th{
  padding: 10px;

}
table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
#accountsInner{
  padding-bottom: 15px;
  background: var(--lightgray);
  box-shadow: 0px 5px 10px var(--shadow)
}
#headerspace{
  margin: 0;
  padding: 20px 10px;
}
#footeraccount{
  padding: 10px;
  background: var(--darkgray);
}
#footeraccount, #spacer{
  height: 40px;
}
#spacer{
  position: relative;
  z-index: 2;
}
#centertext{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}
#leftbutton{
  float: left;
}
#rightbutton{
  float: right;
}
#centertext p{
  margin: 0;
  line-height: 40px;
}
.buttonaccounts button{
  height: 100%;
  padding: 0px 15px;
  z-index: 1;
  box-shadow: 0px 0px 5px var(--shadow);
  border: 1px solid #f6a613;
  border-radius: 5px;
}
.buttonaccounts button, #accountab td, #accounthead th, #centertext p, #accountab a, #searchTable, .accpp{
  color: var(--white);
}
#tablepadder{
  padding: 10px 0;
}
.search{
  margin-bottom: 10px;
}
.accpp{
  margin-top: 10px;
}
.accpp, .search{
  padding: 0 10px;
}
#searchTable{
  padding: 5px;
  font-size: 1.1em;
  background: transparent;
  border: none;
}
.headerbutton{
  padding: 10px;
  color: var(--orange);
}
.active{
  background: var(--lightgray);
  box-shadow: 0px -6px 5px !important;
  padding-bottom: 2px !important;
}
#searchTable::placeholder {
    color: var(--white);
    opacity: 0.5;
}
#deleteuser, #edituser{
  float: right;
  margin-top: -10;
}
.buttonaccounts{
  display: none;
}
