.userexbutton{
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.dropCont{
  display: none;
}
section{
  background: var(--darkgray);
  color: var(--white);
}
.thPadd{
  padding: 10px;
}
.dropDown{
  background: orange;
  color: black;
}
#defth th {
  width: 25%;
}
#accountName i, #accountName input{
  color: var(--white);
}
#accountName input, #accountName button{
  font-size: 1.5em;
}
#accountName input{
  background: transparent;
  border: 0;
}
.accountpage{
  display: none;
}
