.userexbutton{
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.dropCont{
  display: none;
}
section{
  background: var(--darkgray);
  color: var(--white);
}
.thPadd{
  padding: 10px;
}
.dropDown{
  background: orange;
  color: black;
}
#defth th {
  width: 25%;
}
#accountName i, #accountName input{
  color: var(--white);
}
#accountName input, #accountName button{
  font-size: 1.5em;
}
#accountName input{
  width: 3ch;
  background: transparent;
  border: 0;
}
#accountName{
  display: flex;
}
.accountpage{
  display: none;
}
#usernameP{
  line-height: 31px;
  font-size: 1.5em;
}
#accountInfo{
  display: flex;
}
#accountImg{
  background-image: url(../../img/account.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
}
#imgpadder{
  margin-bottom: 15px;
  padding: 10px;
  background: var(--white);
  border: 2px solid var(--orange);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #222;
}
#accountInfo{
  margin: 20px 0px;
  position: relative;
}
.data{
  background: transparent;
  border: 0;
  color: var(--white);
}
#accountInfo td{
  color: var(--white);
  text-align: center;
}
#accountBasic{
  position: absolute;
  right: 0;
}
#save, #pwdr{
  padding: 10px;
  background: var(--orange);
  color: var(--darkgray);
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 0px 8px var(--lightgray);
}
#save{
  display: none;
}
#lowerbuttons{
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#changediv, #nochange{
  display: none;
  padding: 10px;
  z-index: 1;
  width: 40%;
  height: 50%;
  background: var(--white);
}
#nochange, #changeDiv h1{
  padding: 10px;
  text-align: center;
  color: var(--darkgray);
}
#changebuttons a{
  padding: 10px;
  margin: 0px 5px;
  background: var(--orange);
  color: var(--darkgray);
}
#changebuttons{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 10px;
  padding: 10px 0px;
  margin-bottom: -10px;
  background: var(--white);
}
#Changes{
  max-height: 60%;
  overflow-y: scroll;
}
