.active{
  padding-bottom: 2px !important;
}
#structure, .outerUnit{
  display: flex;
}
.autoC{
  position: relative;
}
.autoAppend{
  position: absolute;
  width: 100%;
}
.autoItem{
  background: var(--darkgray);
  box-shadow: 0px 2px 5px 0px var(--lightgray);
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
}
.autoItem:hover{
  cursor: pointer;
}
#manually, #noStru, #exStru{
  display: none;
}
.stable input{
  background: 0;
  border: 0;
}
.stable input, .stable span{
  font-size: 1em;
}
.stable i:hover{
  cursor: pointer;
}
.stable i{
  padding: 0px 1em;
}
.stable, .stable tr{
  width: 100%;
}
#exStru, #prev{
  padding: 2em 1em;
  background: var(--orange);
}
#prev{
  border-bottom: var(--darkgray) solid;
}
h1{
  margin-bottom: 1em;
}
#removeS:hover, #gotoselector:hover{
  cursor: pointer;
}
#categorieinfo, #stsec{
  background-color: var(--lightgray);
}
#noStru, #categorieinfo, #stsec{
  padding: 1em;
}
#stsec{
  border-top: solid var(--orange);
}
#changeparent{
  height: 2em;
  display: flex;
  padding: 1em 0em;
}
#changeparent i{
  color: var(--white);
  font-size: 2em;
}
#changeparent select{
  height: 100%;
  margin: 0px 2em;
  padding: 0px 1em;
}
#changename{
  color: var(--white);
}
#switch{
  margin: 1em 0;
}
#stsec{
  color: var(--white);
}
#exStru input, #prev input{
  color: var(--darkgray); 
}
