#createnews form, #idnews form{
  line-height: 2em;
}
#imgList{
  margin: 0;
  padding: 0;
}
.imglist{
  height: 5em;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  background: white;
}
.controllimg{
  line-height: 5em;
  float: left;
  margin-right: 1em;
}
.controllimg i:hover{
  cursor: pointer;
}
.img{
  text-align: center;
}
.controllimg i[s="true"]:hover{
  cursor: not-allowed !important;
}
.img div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
