main{
  height: 100%;
  overflow-x: hidden;
  background-image: url("https://www.dachser.com/fi/layout/warehousing-contract-logistics-outsourcing-supply-chain.jpg");
  background-position: center;
  background-size: cover;
}
nav{
  font-size: 1.5em;
  position: absolute;
  display: flex;
  padding: 0.5em;
  top: 5%;
  left: 5%;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-overflow: ellipsis;
}
li{
  margin: 0px 10px;
  text-overflow: ellipsis;
}
#navarrow{
  padding: 0px 10px;
}
#navarrow:hover, #loginButton:hover{
  cursor: pointer;
}
nav, #loginslider{
  background: var(--orange);
  box-shadow: 0px 0px 10px var(--shadow);
}
#loginbutton{
  text-align: center;
  height: 100%;
  display: table;
}
#logintext{
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
  padding: 1em;
}
#loginslider{
  float: right;
  display: flex;
  height: 100%;
}
#forms{
  display: none;
  border-left: 2px solid black;
  background: var(--white);
}
nav, #loginbutton{
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
#login, #email{
  display: none;
}
#formpad{
    padding: 0px 2em;
    margin: auto;
}
.loadImg{
  display: none;
}
#login input, #email input{
  text-align: center;
  width: 100%;
  padding: 1em 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}
#pwdrs{
  position: absolute;
  bottom: 5em;
  text-align: center;
  width: 100%;
}
#icred, #iemail{
  display: none;
  color: red;
}
