main{
  height: 100%;
}
nav{
  font-size: 1.5em;
  position: absolute;
  display: flex;
  padding: 0.5em;
  top: 5%;
  left: 5%;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-overflow: ellipsis;
}
li{
  margin: 0px 10px;
  text-overflow: ellipsis;
}
#navarrow{
  padding: 0px 10px;
}
#navarrow:hover{
  cursor: pointer;
}
section{
  height: 100%;
  position: absolute;
  left: 70%;
  display: flex;
  align-items: center;
}
#loginButton{
  padding: 0.7em;
  font-size: 1.5em;
}
nav, #loginButton{
  background: var(--orange);
  box-shadow: 0px 0px 10px var(--shadow);
}
