#outer{
  height: 100%;
  width: 80%;
  margin: auto;
  position: relative;
}
#inner{
  padding: 10px;
  box-sizing: border-box;
  height: 70%;
  width: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #d8d8d8;
  box-shadow: 10px 10px 20px #bdbdbd;
}
#formdiv{
  float: right;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #f3f3f3;
  box-shadow: 0px 0px 10px #c7c7c7;
  display: table;
  position: relative;
}
#imgdiv{
  float: left;
}
#imgdiv h1{
  margin-left: 10px;
}
#formdiv p {
  font-size: 1.5em;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
}
#login,#email{
  display: none;
}
#centerlogin{
  display: table-cell;
  vertical-align: middle;
}
#login input, #email input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-align: center;
    max-width: 400px;
    font-size: 1.5em;
    padding: 10px 0px;
}

#sumbitlogin, #sumbitcode{
  font-size: 1.2em !important;
  width: 40% !important;
  margin: 10px auto !important;
  border: 1px solid #777777 !important;
  border-radius: 10px;
}
