#sic{
  display: none;
  padding-bottom: 1em;
}
#coac{
  display: none;
}
#sic input{
  text-align: center;
  background: transparent;
  border: none;
  padding: 0.5em;
  font-size: 1.1em;
  border-bottom: 1px solid var(--orange);
  color: var(--orange);
}
#sic th {
  color: var(--orange);
}
