footer{
  height: 50px;
  width: 100%;
  margin: auto;
  bottom: 0;
}
#copyright{
  line-height: 50px;
  float: left;
}
#socials{
  height: 100%;
  float: right;
  width: 50px !important;
}
#socials img{
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
