#news{
  position: relative;
}
#controll{
  text-align: center;
  position: absolute;
  bottom: 1em;
  width: 100%;
}
#innercontroll{
  display: inline-flex;
}
.controllB i{
  margin: 0px 0.25em;
}
.imgsGal{
  height: 100%;
  background-position: center center;
  background-size: cover;
}
