#childs{
  width: 100%;
}
#filter{
  width: 95%;
  margin: auto;
  padding-top: 1em;
}
.outerSlider {
    margin-bottom: 3em;
}
.sliderHead {
  margin-bottom: 0.5em;
    text-align: center;
}
#startpage{
  min-height: 35em;
}
@media only screen and (max-width: 700px) {
  #filter{
    width: 85%;
    padding-top: 2em;
  }
}
