#parents, #stockadd, #ppi, #sisP{
  background: #f3f3f3;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 0.5em;
  box-shadow: 0px 0px 10px -5px #ccc;
}
#pinfo{
  position: relative;
}
#manlink{
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}
#manuImg{
  max-width: 8em;
  height: auto;
}
#stockadd{
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 12em;
  min-width: 12em;
}
#ppage{
  position: relative;
}
#stockh{
  text-align: center;
}
#ppi, #sisP{
  margin-right: 13em;
}
.stockInner{
  padding: 0.5em 0.25em;
}
.stocka{
  float: right;
}
.stocka i{
  margin-left: 0.5em;
  color: #319400;
}
#ppi, #sisP{
  padding: 1em;
  background: #f4f4f4;
}
#imgGal{
  height: 6em;
  display: flex;
  overflow-x: auto;
  overflow: overlay;
  margin-top: 1em;
}
.imgGal{
  min-height: 5em;
  min-width: 5em;
  max-height: 5em;
  max-width: 5em;
  background-position: center;
  background-size: cover;
}
.imgGal:hover{
  cursor: pointer;
}
#activepic{
  width: 100%;
  position: relative;
}
#innerPic{
  text-align: center;
  height: 100%;
  background-position: center;
  background-size: cover;
}
#activepic i{
  position: absolute;
  font-size: 4em;
  display: none;
}
#activepic i:hover{
  cursor: pointer;
}
#add{
  margin-top: 1em;
}
#addbutton, #menuselect{
  background-color: #319400;
  color: #fff;
  width: 100%;
  height: 3em;
  border: 1px solid #297b00;
}
#addbutton:hover{
  background: #2b8300;
}
.imgGal:hover{
  opacity:0.5;
}
#menuselect{
  height: 2em;
  margin-top: 1em;
  display: flex;
}
.selectitem{
  width: 33.3333333%;
  text-align: center;
  height: 100%;
  line-height: 2em;
}
#menuselect .dis{
  opacity: 0.5;
}
#menuselect .hoveritems:hover{
  cursor: pointer;
  background: #2b8300;
}
.sel{
  background: #2b8300;
}
#seletedMenu div{
  display: none;
}
#spectable tr td:first-child{
  width: 30%;
}
#spectable tr td:nth-child(2){
  width: 70%;
  text-align: center;
}
#spectable tr td{
  border-bottom: 1px solid #319400;
  padding: 0.5em 0;
}
#spectable{
  margin-top: 1em;
  width: 100%;
}
#sisP{
  margin-top: 2em;
}
#sisprod{
  display: flex;
}
#sishead{
  margin-bottom: 1em;
}
.sisItem{
  width: 25%;
  margin: auto;
}
.sisItem{
  color: black;
}
.sisItem:hover{
  box-shadow: 0px 0px 4px 0px #2b8300;
  background: #319400;
  color: white;
}
.sisItem:hover a{
  color: white;
}
.sisInfo{
  padding: 0.5em;
  padding-top: 0;
}
.sisPrice{
  padding-top: 0.25em;
}
.sisImg{
  padding: 1em;
  box-sizing: border-box;
}
.sisImgBack{
  height: 100%;
  background-size: cover;
  background-position: center;
}
.sisPrice i:hover{
  cursor: pointer;
}
.afterPrice::after{
  content: "kr";
}
@media only screen and (max-width: 1480px) {
  #startpage{
    width: 80%;
  }
}
@media only screen and (max-width: 1400px) {
  #startpage{
    width: 85%;
  }
}
@media only screen and (max-width: 1100px) {
  #ppage{
    position: inherit;
  }
  #stockadd{
    position: inherit;
    margin-top: 2em;
  }
  #ppi, #sisP{
    margin-right: 0;
  }
}
@media only screen and (max-width: 900px) {
  #navaside{
    margin-bottom: 2em;
  }
  .marginLeftStart{
    width: 90%;
    margin: auto;
  }
  #startpage{
    width: 100%;
  }
  main{
    margin-top: 0px;
  }
  #navaside{
    border-width: 0px;
    width: 100%;
    border-bottom-width: 2px;
    max-width: none;
    position: unset;
  }
  #startpage{
    display: block !important;
  }
  #mobileNav{
    display: block;
  }
  #drop1{
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #manlink{
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  #menuselect span{
    display: none;
  }
}
